Source: python-ipcqueue
Section: python
Priority: optional
Maintainer: Advert <doporucovani-vyvoj@firma.seznam.cz>
Uploaders: Jan Seifert <jan.seifert@firma.seznam.cz>
Build-Depends: debhelper (>= 9.0),
               dh-python,
               libffi-dev,
               python-all-dev,
               python3-all-dev,
               python-cffi (>= 1.0),
               python3-cffi (>= 1.0),
               python-pytest (>= 3.0),
               python3-pytest (>= 3.0),
               python-setuptools,
               python3-setuptools
Standards-Version: 3.9.6
X-Python-Version: 2.7
X-Python3-Version: 3.4, 3.6

Package: python-ipcqueue
Architecture: any
Depends: ${python:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: POSIX and SYS V interprocess message queues
 Provides Python support for POSIX and SYS V messages queues.

Package: python3-ipcqueue
Architecture: any
Depends: ${python3:Depends},
         ${misc:Depends},
         ${shlibs:Depends}
Description: POSIX and SYS V interprocess message queues
 Provides Python support for POSIX and SYS V messages queues.
 .
 This package contains the Python 3 version of the library.
